/* App.css */

/* Style for the entire app */
.App {
  text-align: center;
}

/* Style for the logo image */
.App-logo {
  height: 40vmin; /* Set the height of the logo */
  pointer-events: none; /* Disable pointer events on the logo */
}

/* Media query for reduced motion */
@media (prefers-reduced-motion: no-preference) {
  /* Animation for the logo spin */
  .App-logo {
    animation: App-logo-spin infinite 20s linear; /* Apply animation */
  }
}

/* Style for the header component */
.App-header {
  background-color: #282c34; /* Set background color */
  min-height: 100vh; /* Set minimum height to viewport height */
  display: flex; /* Use flexbox layout */
  flex-direction: column; /* Arrange items in a column */
  align-items: center; /* Center items horizontally */
  justify-content: center; /* Center items vertically */
  font-size: calc(10px + 2vmin); /* Set font size */
  color: white; /* Set text color */
}

/* Style for links in the app */
.App-link {
  color: #61dafb; /* Set link color */
}

/* Keyframes for the logo spin animation */
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg); /* Initial rotation */
  }
  to {
    transform: rotate(360deg); /* Rotation to 360 degrees */
  }
}
